---
import Icon from './icon.astro';

const { name } = Astro.props;
---

<!-- Botón para cambiar idioma -->
<button
  id="lang-toggle"
  aria-label="Language toggle"
  class="fixed bottom-18 left-3 z-10 inline-flex h-10 w-10 items-center justify-center rounded-lg bg-gray-100 text-gray-400 shadow-xl transition focus:ring-primary-500 dark:bg-gray-800 dark:text-gray-200"
  data-name={name}
>
  <!-- Bandera de España: visible cuando el idioma es español -->
  <Icon class="block dark:hidden" name={name} size={20} />
  <!-- Bandera del Reino Unido: visible cuando el idioma es inglés -->
  <Icon class="hidden dark:block" name={name} size={20} />
</button>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const langToggle = document.getElementById('lang-toggle');
    const name = langToggle?.getAttribute('data-name');

    if (name === 'openmoji:flag-spain') {
      const redirectToEnglishPage = () => {
        window.location.href = '/';
      };

      langToggle?.addEventListener('click', redirectToEnglishPage);
    } else {
      const redirectToSpanishPage = () => {
        window.location.href = '/es';
      };

      langToggle?.addEventListener('click', redirectToSpanishPage);
    }
  });
</script>
